.App {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  max-width: 800px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  font-size: 22px;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  transition: box-shadow ease-in-out 0.2s;
}

li:hover {
  background-color: rgb(245, 245, 245);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.219);
}
